
.banner img{
    width: 100%;
}
.title{
    color:rgb(255, 187, 0);
    font-size: 60px;
    font-weight: 700;
    opacity: 90%;

}




@media only screen and (max-width: 600px) {
    .title {
        font-size: 25px;
        font-weight: 500;
    }
}
