.banner{
    font-family: 'Lobster', cursive;
}
.banner img{
    width: 100%;
}
.title{
    color:rgb(255, 187, 0);
    font-size: 60px;
    opacity: 90%;

}




@media only screen and (max-width: 600px) {
    .title {
        font-size: 25px;
    }
}
